.background    { background: rgb(166, 238, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(251, 191, 210); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.coin   { background: rgb(255, 196, 33); }
.player { background: rgb(227, 137, 227); }
.bump { background: url(bump.gif); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
