.background    { background: rgb(166, 238, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: url(lava.png); }
.wall          { background: url(blocc.png); }

.actor  { position: absolute;  }
.coin   { background: url(sparkle.png); }
.player { background: url(character2.png); }
.spikes { background: url(spikes.png); }
.portal { background: url(portal.png); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
